*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    boxshadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    widht: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    bqckgound-color: #f0f0f0;
}
nav li:first child{
    margin-right: auto;
}